    <div class="menu">
        <ul class="menu__container">
            <a href="/" class="menu__container--item">
                <li>
                    HOME
                </li>
            </a>
            <a href="/shop" class="menu__container--item">
                <li>
                    SHOP
                </li>
            </a>
            <a href="#" class="menu__container--item">
                <li>
                    ABOUT US
                </li>
            </a>

            <% if (!user) { %>
                <a href="/login" class="menu__container--item">
                    <li>
                        LOGIN
                    </li>
                </a>
                <a href="#" class="menu__container--item">
                    <li>
                        SIGN UP
                    </li>
                </a>            
            <% } else { %>
                <a href="#" class="menu__container--item">
                    <li>
                        <%=user.name %>>
                    </li>
                </a>
                <a href="#" class="menu__container--item">
                    <li>
                        LOG OUT
                    </li>
                </a>  
            <% } %>

        </ul>
    </div>


