<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"href="/css/style.css" type="text/css">
  <link rel="stylesheet"href="/css/style1.css" type="text/css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


  <title>Store</title>
</head>
<body>
    <%- include('../partials/header')%>
    <%- body %>

    <script src='/javascripts/validateForms.js'></script>
</body>
</html>

<script type="text/javascript" src="/js/login.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
